@import '~bootstrap/scss/bootstrap';




.active_nav{
    background-color: #0282f9;
}

.jumbo{
   background-image: url(../img/jumbotron.jpg);
   background-size: cover;
   height: 400px;
}

///////PARZIALE CARD HOME
.card {
    height: 100%;
    border: none;
}
.card-img-top {
    height: 200px; 
    object-fit: cover; 
}
.card-body {
    height: 100px; 
}

//////////////////////////


//////////PARZIALE DIGITAL


.digital_comics{
    background-color: #0282f9;
}